<footer class="bg-dark-1">
<style>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

</style>
<div class="container-fluid text-center g-color-white-opacity-0_8 px-0">
    <!-- Footer Content -->
    <div class="col-md-6 col-lg-4 d-flex g-bg-black-opacity-0_9 g-pa-40">
      <div class="align-self-center w-100">
        <h2 class="g-color-white g-font-weight-700 g-mb-50"> ¿Querés contactarte con nuestro equipo?
        Unidad de Politicas Promocion de Genero y Diversidad - MIYSP
          <span class="g-color-primary">Escribinos.</span>
        </h2>

        <form>
          <div class="form-group g-mb-10">
            <input class="form-control g-color-white g-bg-black-opacity-0_4 g-brd-black-opacity-0_4 g-brd-primary--focus rounded-0 g-pa-15" type="text" placeholder="Your name">
          </div>
          <div class="form-group g-mb-10">
            <input class="form-control g-color-white g-bg-black-opacity-0_4 g-brd-black-opacity-0_4 g-brd-primary--focus rounded-0 g-pa-15" type="tel" placeholder="Your phone">
          </div>
          <div class="form-group g-mb-10">
            <input class="form-control g-color-white g-bg-black-opacity-0_4 g-brd-black-opacity-0_4 g-brd-primary--focus rounded-0 g-pa-15" type="text" placeholder="Subject">
          </div>
          <div class="form-group g-mb-40">
            <textarea class="form-control g-resize-none g-color-white g-bg-black-opacity-0_4 g-brd-black-opacity-0_4 g-brd-primary--focus rounded-0 g-pa-15" rows="5" placeholder="Message"></textarea>
          </div>
          <button class="btn btn-md u-btn-primary g-font-size-12 rounded-0 g-py-11 g-px-30" type="submit" role="button">Enviar</button>
        </form>
      </div>
    </div>
    <!-- End Footer Content -->
      <div class="row no-gutters g-min-height-80vh">
    <!-- Google Map -->
    <div class="col-md-12 col-lg-4 g-min-height-400">
      <div id="gMap1" class="js-g-map h-100" data-type="custom" data-lat="40.674" data-lng="-73.946" data-zoom="12" data-title="Travel" data-styles="[
               ['', '', [{'saturation':-100},{'lightness':51},{'visibility':'simplified'}]],
               ['', 'labels', [{'visibility':'on'}]],
               ['water', '', [{'color':'#bac6cb'}]]
             ]" data-pin="true" data-pin-icon="../../../assets/img/icons/pin/green.png">
      </div>
    </div>
    <!-- End Google Map -->
  </div>
</div>
  <section id="footer" class="py-5">
    <div class="container text-center">

      <h6 class="m-0 mt-4 text-center text-white text-capitalize">Niveladas</h6>
      <img src="https://gba.gob.ar/imagenes/logo_gba_footer_blanco.svg" alt="..." height="100">
      <img src="https://www.minfra.gba.gob.ar/web/Niveladas/UPPGD-LOGO-EPS.jpg" alt="..." height="100">
    </div>
  </section>
</footer>